In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [3]:
df = pd.read_csv('../yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('../yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
df.head(n=0).to_sql(con=engine,name='yellow_taxi_data', if_exists='replace')
%time df.to_sql(con=engine,name='yellow_taxi_data', if_exists='append')

CPU times: user 6.07 s, sys: 132 ms, total: 6.21 s
Wall time: 9.33 s

1000

In [10]:
from time import time

In [12]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(con=engine,name='yellow_taxi_data', if_exists='append')
    t_end = time()
    print("chunk inserted in %.3f secs...", t_end - t_start)

chunk inserted in %.3f secs... 9.364678859710693
chunk inserted in %.3f secs... 9.481829166412354
chunk inserted in %.3f secs... 9.468191385269165
chunk inserted in %.3f secs... 9.520763397216797
chunk inserted in %.3f secs... 9.385240316390991
chunk inserted in %.3f secs... 9.325007200241089
chunk inserted in %.3f secs... 9.566341876983643
chunk inserted in %.3f secs... 9.44826889038086
chunk inserted in %.3f secs... 9.480360984802246
chunk inserted in %.3f secs... 9.550347328186035

/tmp/ipykernel_33597/3011846037.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

chunk inserted in %.3f secs... 9.20807409286499
chunk inserted in %.3f secs... 6.01813006401062

StopIteration:

In [3]:
df = pd.read_csv('../taxi+_zone_lookup.csv', nrows=100)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
df_iter = pd.read_csv('../taxi+_zone_lookup.csv')

In [10]:
df.head(n=0).to_sql(con=engine,name='zones', if_exists='replace')
%time df.to_sql(con=engine,name='zones', if_exists='append')

CPU times: user 4.48 ms, sys: 0 ns, total: 4.48 ms
Wall time: 13.2 ms

100